<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Toka Bank</name>
    <description>
        A Smart Way To Spent Your Money Abroad.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
     <icon src="img/Appimage1a.png" /> <!-- default 72 pixels -->
        
    <icon src="img/Appimage1a.png" gap:platform="ios" width="57" height="57" /> <!-- iPhone 3G, 3GS, iPod Touch 2G, 3G -->
    <icon src="img/Appimage1a.png" gap:platform="ios" width="72" height="72" /> <!-- iPad 1, 2, iPad mini -->
    <icon src="img/Appimage1a.png" gap:platform="ios" width="114" height="114" /> <!-- iPhone 4, 4S, iPod Touch 4G -->
    <icon src="img/Appimage1a.png" gap:platform="ios" width="144" height="144" /> <!-- iPad 3, 4 -->
        
    <icon src="img/Appimage1a.png" gap:platform="android" gap:density="ldpi" /> <!-- 36 pixels -->
    <icon src="img/Appimage1a.png" gap:platform="android" gap:density="mdpi" /> <!-- 48 pixels -->
    <icon src="img/Appimage1a.png" gap:platform="android" gap:density="hdpi" /> <!-- 72 pixels -->
    <icon src="img/Appimage1a.png" gap:platform="android" gap:density="xhdpi" /> <!-- 96 pixels -->
        
    <icon src="img/icons/bb/icon.png" gap:platform="blackberry" /> <!-- 72 pixels -->
    <icon src="img/icons/bb/icon_hover.png" gap:platform="blackberry" gap:state="hover"/> <!-- 72 pixels -->
        
    <icon src="img/icons/winphone/icon.png" gap:platform="winphone" /> <!-- 57 pixels -->
    <icon src="img/icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" /> <!-- 72 pixels -->
        
    <icon src="img/icons/webos/icon.png" gap:platform="webos" /> <!-- 29 pixels -->
    <icon src="img/icons/webos/miniicon.png" gap:platform="webos" gap:role="mini" /> <!-- 15 pixels -->
<plugin version="1" name="cordova-plugin-whitelist"/>
</widget>


